
.career-listing-box
{
    box-shadow: 0px -8px 0 0 blue;

    min-height: 320px;
    padding: 24px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;

    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.career-listing-box-title-section
{

}
.career-listing-box-content-section
{
    
}
.career-listing-box-divider
{
    width: 100%;
    height: 2px;
    background-color: #ddd;
}
.career-prime-box
{
    background-color: #836AE7;
    width: 100%;
    min-height: 320px;
    height: auto;
    padding:24px;
}
.career-prime-box-row
{

  display: flex;
  justify-content: space-around;

  gap:24px;

  flex-wrap: wrap;


    
}

.career-prime-box-image-wrapper img
{

     width: 240px;
     height: 240px;

}

.career-prime-box-content
{
    width: 320px;
    height: auto;
}

.career-prime-box-right-content
{
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



iframe
{

    width: 640px;
    height:1120px;
}
.career-page-title-section

{
  margin-top: 120px;
  width: 100%;
  min-height: 100px;
  background-color: #27406f;
  padding-top:24px;
  padding-bottom: 24px;

  color:#ddd;
  position: relative;

}





.career-page-primary-section
{
  padding-top: 120px;
  padding-bottom: 120px;
}
.career-page-career-information
{
    margin-top: 96px;
}
.career-page-career-information .info-heading
{

    
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: normal;
    color: #191682;
  

}

.career-page-career-information .info-card

{
    width: 320px;
    padding: 24px;

    overflow: hidden;
    margin-left: 0px;
    margin-top: 24px;

}

.career-page-career-information .info-card-list-row
{
    display: flex;
    gap:24px;
    margin-top: 24px;

}

.career-page-career-information .info-card-list-row .icon-wrapper
{

    width: 24px;
    height: 24px;
}

.career-page-career-information .info-card-list-row .icon-wrapper img
{

    width: 100%;
    height: 100%;
}
.career-page-career-information .info-card-list-row .list-text
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: normal;

    max-width: 240px;

  
}




.career-page-form-information .info-heading
{
    font-family: 'Anek Tamil Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: normal;
    color: #191682;

    margin-top: 96px;
  

}

.iframe-container-form
{
    margin-top: 48px;
}

@media (max-width:720px)  { 


    .career-page-career-information .info-card

    {
        width: 276px;
        padding: 8px;
    
        overflow: hidden;
        background: #ded3d3;
       
    
    }

    iframe
{

    width: 360px;
    height:1120px;
}


}

