
iframe
{

    width: 640px;
    height:1120px;
}
.contact-page-title-section

{
  margin-top: 96px;
  width: 100%;
  min-height: 100px;
  background-color: #27406f;
  padding-top:24px;
  padding-bottom: 24px;

  color:#ddd;

}





.contact-page-primary-section
{
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact-page-contact-information .info-heading
{

    font-family: 'Anek Tamil Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: normal;
    color: #191682;
  

}

.contact-page-contact-information .info-card

{
    width: 320px;
    padding: 24px;

    overflow: hidden;
    background: #ded3d3;
    margin-left: 8px;
    margin-top: 48px;

}

.contact-page-contact-information .info-card-list-row
{
    display: flex;
    gap:24px;
    margin-top: 24px;

}

.contact-page-contact-information .info-card-list-row .icon-wrapper
{

    width: 24px;
    height: 24px;
}

.contact-page-contact-information .info-card-list-row .icon-wrapper img
{

    width: 100%;
    height: 100%;
}
.contact-page-contact-information .info-card-list-row .list-text
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    white-space: normal;

    max-width: 240px;

  
}




.contact-page-form-information .info-heading
{
    font-family: 'Anek Tamil Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: normal;
    color: #191682;

    margin-top: 96px;
  

}

.iframe-container-form
{
    margin-top: 48px;
}

@media (max-width:720px)  { 


    .contact-page-contact-information .info-card

    {
        width: 320px;
        padding: 24px;
    
        overflow: hidden;
        background: #ded3d3;
        margin-left: 8px;
        margin-top: 48px;
    
    }

    iframe
{

    width: 360px;
    height:1120px;
}


}