.site-logo-icon img
{
 height: 88px;
 width: auto;
}

.site-logo-icon
{
  position: relative;
  display: inline-block;
  top: 0px;
  padding: 4px;
  box-sizing: border-box;

  /* border-bottom: 4px solid blue;
  border-top: 4px solid blue; */

  background-color: orange;


}

.desktop-menu-wrapper
{
  display: block;

}

.desktop-menu
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:24px;
  margin: 0px;

  font-family: 'Anek Tamil';
  font-variation-settings:"wdth" 70;

  font-style: normal;
  font-weight: 500;
  font-size: 16.4px;
  line-height: 20px;
  white-space: normal;
  color: #10053a;

  
}
.mobile-menu-wrapper
{
  display: none;

  font-family: 'Anek Tamil Condensed';
  font-family: 'Anek Tamil';
  font-variation-settings:"wdth" 70;
  font-style: normal;
  font-weight: 700;
  font-size: 16.4px;
  line-height: 20px;
  white-space: normal;
  color: #10053a;

  
}

.mobile-hamburger-button
{
  display: none;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(47, 25, 105);
  border-radius: 6px;

  cursor: pointer;
  

}

.mobile-menu-list

{
    
}

.mobile-menu-list-item

{
    margin-top:48px;
    font-size: 1.5em;

    display: block;

    
}

    @media (max-width: 860px) {

      .site-logo-icon img
{
 height: 48px;
 width: auto;
}

       .destop-menu-wrapper
       {
          display: none;
       }
       .mobile-menu-wrapper
      {
        display: none;
        padding: 16px;
  box-sizing: border-box;
  position: fixed;
  top:96px;
  left:0px;
  z-index: 1000;
  background-color: #fff;
  height: calc( 100vh - 100px);

  width: 100%;
        }

        .mobile-menu-wrapper.showmenu
      {
          display: block;
      }
      .mobile-hamburger-button
        {
          display: flex;
        }

        
    }



  .mobile-menu-icon  .mobile-menu-lines

  {

     background-color: rgba(100,100,100,1);

     height: 2px;
     width: 16px;
     margin-top:3px;
     display:block;

     transition: all 0.3s ease;

  }

    .mobile-menu-icon  .mobile-menu-lines:first-of-type
{
     margin-top:0px;

}

.mobile-hamburger-button.showmenu  .mobile-menu-line-1

{
  
  transform: rotate(45deg) translateY(7px) ;
  width: 16px;
    left: 5px;
    position: relative;


}

.mobile-hamburger-button.showmenu  .mobile-menu-line-2

{
  
  transform: scale(0);

  opacity: 0;

}
.mobile-hamburger-button.showmenu  .mobile-menu-line-3

{
  
  transform: rotate(-45deg) translateY(-7px) ;
    width: 16px;
  left: 5px;

    position: relative;

}
