
.retirement-benefits-list-wrapper
{
  background-color: #fff;

  box-shadow: 0px 2px 4px  rgba(0,0,0,0.05),0 8px 20px rgba(0,0,0,0.10);

  padding-bottom: 48px;
  padding-top: 0px;
}
.retirement-benefits-list-card
{
     width: 100%;
     margin: 0px;
     height: 100%;


}



.retirement-benefits-list-wrapper-inner
{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
}

.retirement-benefits-list-row
{
    display: block;
    width: 32%;
    /* height: 360px; */

    position: relative;

    margin-top: 48px;
}

.retirement-benifit-image-wrapper img
  {
    
    height: 168px;
    width: auto;
  }

  .retirement-benifit-paragraph
  {
    height: 168px;
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    flex-wrap: wrap;
    text-align: right;
    background-color: #1f5ca6;
    

  }

  .retirement-benefits-list-icon-wrap
  {
    position: absolute;

    left: -2px;
    top: -2px;
    border: 4px solid #fff;

    color: #fff;

    z-index: 4;

    width:64px;
    height: 64px;
    font-weight: 900;

  }


  @media (max-width:720px)  { 



    .retirement-benefits-list-row
    {

        width: 100%;
    }

  }
