.anim-highlight
{
    font-weight: bold;

}
.anim-highlight.active
{
    color: #7dda13 !important;

    transform: scale(1.01);

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scroll-reveal
{
    opacity: 0;
}
.about-section .scroll-reveal
{
 transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.why-choose-section .scroll-reveal

{
    transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.insurance-section .scroll-reveal
{
    transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
   
}

.retirement-section .scroll-reveal
{
    transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
   
}

.other-services-section .scroll-reveal
{
    transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
 
}
